<div class="fixed top-0 left-0 h-screen w-72 bg-white shadow-md bg-primary">
  <ul class="my-8 ml-8">
    <li class="mb-4 px-4 py-2 border-l-4 border-transparent hover:border-secondary">
      <a routerLink="/">
        <button
          class="flex flex-row items-center text-base h-full transition duration-300 ease-in-out bg-neutral-50/[0.0] hover:bg-neutral-50/[0.2] hover:translate-x-1">
          <span class="mr-1 flex items-center">
            <i class="material-icons text-lg">home</i>
          </span>
          <span>Anasayfa</span>
        </button>
      </a>
    </li>
    <li class="mb-4 px-4 py-2 border-l-4 border-transparent hover:border-secondary">
      <a href="/profile">
        <button
          class="flex flex-row items-center text-base h-full transition duration-300 ease-in-out bg-neutral-50/[0.0] hover:bg-neutral-50/[0.2] hover:translate-x-1">
          <span class="mr-1 flex items-center">
            <i class="material-icons text-lg">person</i>
          </span>
          <span>Profilim</span>
        </button>
      </a>
    </li>
    <li class="mb-4 px-4 py-2 border-l-4 border-transparent hover:border-secondary">
      <a href="">
        <button
          class="flex flex-row items-center text-base h-full transition duration-300 ease-in-out bg-neutral-50/[0.0] hover:bg-neutral-50/[0.2] hover:translate-x-1">
          <span class="mr-1 flex items-center">
            <i class="material-icons text-lg">add_circle</i>
          </span>
          <span>Gönderi Ekle</span>
        </button>
      </a>
    </li>
    <li class="mb-4 px-4 py-2 border-l-4 border-transparent hover:border-secondary">
      <a routerLink="/posts">
        <button
          class="flex flex-row items-center text-base h-full transition duration-300 ease-in-out bg-neutral-50/[0.0] hover:bg-neutral-50/[0.2] hover:translate-x-1">
          <span class="mr-1 flex items-center">
            <i class="material-icons text-lg">source</i>
          </span>
          <span>Gönderilerim</span>
        </button>
      </a>
    </li>
    <li class="mb-4 px-4 py-2 border-l-4 border-transparent hover:border-secondary">
      <a href="/settings">
        <button
          class="flex flex-row items-center text-base h-full transition duration-300 ease-in-out bg-neutral-50/[0.0] hover:bg-neutral-50/[0.2] hover:translate-x-1">
          <span class="mr-1 flex items-center">
            <i class="material-icons text-lg">settings</i>
          </span>
          <span>Ayarlar</span>
        </button>
      </a>
    </li>
    <li class="mb-4 px-4 py-2 border-l-4 border-transparent hover:border-secondary">
      <a href="/about">
        <button
          class="flex flex-row items-center text-base h-full transition duration-300 ease-in-out bg-neutral-50/[0.0] hover:bg-neutral-50/[0.2] hover:translate-x-1">
          <span class="mr-1 flex items-center">
            <i class="material-icons text-lg">article</i>
          </span>
          <span>Hakkımızda</span>
        </button>
      </a>
    </li>
    <li class="mb-4 px-4 py-2 border-l-4 border-transparent hover:border-secondary">
      <a href="/contact">
        <button
          class="flex flex-row items-center text-base h-full transition duration-300 ease-in-out bg-neutral-50/[0.0] hover:bg-neutral-50/[0.2] hover:translate-x-1">
          <span class="mr-1 flex items-center">
            <i class="material-icons text-lg">phone</i>
          </span>
          <span>İletişim</span>
        </button>
      </a>
    </li>
    <li class="mb-4 px-4 py-2 border-l-4 border-transparent hover:border-secondary">
      <a href="">
        <button
          class="flex flex-row items-center text-base h-full transition duration-300 ease-in-out bg-neutral-50/[0.0] hover:bg-neutral-50/[0.2] hover:translate-x-1"
          (click)="logout()">
          <span class="mr-1 flex items-center">
            <i class="material-icons text-lg">logout</i>
          </span>
          <span>Çıkış Yap</span>
        </button>
      </a>
    </li>
  </ul>
</div>
