<!-- <div class="h-full w-full">
  <img class="object-cover w-full h-full" src="../../../../assets/login.jpg">
</div> -->
<div class="flex flex-row h-full items-center">
  <div class="w-2/6"> </div>
  <div class="content flex flex-col items-center w-2/6 space-y-4 mb-28">
    <h1>Anasayfa</h1>
    <button mat-raised-button class="flex justify-center">
      <a href="/register" class="text-sm text-primary">Kaydol</a>
    </button>
    <button mat-raised-button class="flex justify-center">
      <a href="/login" class="text-sm text-primary">Giriş Yap</a>
    </button>
  </div>
  <div class="w-2/6"> </div>
</div>
