<div class="flex justify-end w-full">
  <button mat-button class="" (click)="onClose()">X</button>
</div>

<mat-dialog-content class="h-full">





  <div>
    <div class="flex flex-row flex-wrap" *ngFor="let review of reviews">
      <div class="flex flex-row flex-1 items-center">
        <div mat-card-avatar class="rounded-full overflow-hidden mx-2 "><img [src]="review.auth?.avatar"></div>
        <mat-card-title class="font-medium text-sm pb-3">{{review.auth?.username}}
        </mat-card-title>
      </div>
      <div class="flex flex-col flex-1 text-right">
        <mat-card-subtitle class="text-sm">{{review.createdAt | date:'dd/MM/yy'}} {{review.createdAt |
          date:'HH.mm'}}'de paylaşıldı</mat-card-subtitle>
      </div>
      <div class="flex flex-row flex-wrap">
        <p class="text-sm">{{review.comment}}</p>
      </div>
    </div>
  </div>
</mat-dialog-content>
