<div class="fixed top-0 left-0 h-screen w-20 lg:w-72 bg-white shadow-md bg-primary hidden md:block">
  <ul class="m-4 lg:m-8">
    <li
      class="mb-4 px-4 py-2 lg:border-l-4 border-transparent hover:border-secondary transition duration-300 ease-in-out hover:translate-x-1">
      <a routerLink="/">
        <button class="flex flex-row items-center text-base h-full ">
          <span class="mr-1 flex items-center">
            <i class="material-icons text-2xl">home</i>
          </span>
          <span class="lg:visible invisible">Anasayfa</span>
        </button>
      </a>
    </li>
    <li
      class="mb-4 px-4 py-2 lg:border-l-4 border-transparent hover:border-secondary transition duration-300 ease-in-out hover:translate-x-1">
      <a routerLink="/{username}" >
        <button class="flex flex-row items-center text-base h-full ">
          <span class="mr-1 flex items-center">
            <i class="material-icons text-2xl">person</i>
          </span>
          <span class="lg:visible invisible">Profilim</span>
        </button>
      </a>
    </li>
    <li
      class="mb-4 px-4 py-2 lg:border-l-4 border-transparent hover:border-secondary transition duration-300 ease-in-out hover:translate-x-1">
      <a routerLink="/create-post">
        <button class="flex flex-row items-center text-base h-full ">
          <span class="mr-1 flex items-center">
            <i class="material-icons text-2xl">add_box</i>
          </span>
          <span class="lg:visible invisible">Gönderi Ekle</span>
        </button>
      </a>
    </li>
    <li
      class="mb-4 px-4 py-2 lg:border-l-4 border-transparent hover:border-secondary transition duration-300 ease-in-out hover:translate-x-1">
      <a routerLink="/posts">
        <button class="flex flex-row items-center text-base h-full ">
          <span class="mr-1 flex items-center">
            <i class="material-icons text-2xl">source</i>
          </span>
          <span class="lg:visible invisible">Paylaşımlarım</span>
        </button>
      </a>
    </li>
    <li
      class="mb-4 px-4 py-2 lg:border-l-4 border-transparent hover:border-secondary transition duration-300 ease-in-out hover:translate-x-1">
      <a routerLink="/reviews">
        <button class="flex flex-row items-center text-base h-full ">
          <span class="mr-1 flex items-center">
            <i class="material-icons text-2xl">comment</i>
          </span>
          <span class="lg:visible invisible">Yorumlarım</span>
        </button>
      </a>
    </li>
    <li
      class="mb-4 px-4 py-2 lg:border-l-4 border-transparent hover:border-secondary transition duration-300 ease-in-out hover:translate-x-1">
      <a href="/settings">
        <button class="flex flex-row items-center text-base h-full ">
          <span class="mr-1 flex items-center">
            <i class="material-icons text-2xl">settings</i>
          </span>
          <span class="lg:visible invisible">Ayarlar</span>
        </button>
      </a>
    </li>
    <li
      class="mb-4 px-4 py-2 lg:border-l-4 border-transparent hover:border-secondary transition duration-300 ease-in-out hover:translate-x-1">
      <a href="/about">
        <button class="flex flex-row items-center text-base h-full ">
          <span class="mr-1 flex items-center">
            <i class="material-icons text-2xl">article</i>
          </span>
          <span class="lg:visible invisible">Hakkımızda</span>
        </button>
      </a>
    </li>
    <li
      class="mb-4 px-4 py-2 lg:border-l-4 border-transparent hover:border-secondary transition duration-300 ease-in-out hover:translate-x-1">
      <a href="/contact">
        <button class="flex flex-row items-center text-base h-full ">
          <span class="mr-1 flex items-center">
            <i class="material-icons text-2xl">phone</i>
          </span>
          <span class="lg:visible invisible">İletişim</span>
        </button>
      </a>
    </li>
    <li
      class="mb-4 px-4 py-2 lg:border-l-4 border-transparent hover:border-secondary transition duration-300 ease-in-out hover:translate-x-1">
      <a href="">
        <button class="flex flex-row items-center text-base h-full " (click)="logout()">
          <span class="mr-1 flex items-center">
            <i class="material-icons text-2xl">logout</i>
          </span>
          <span class="lg:visible invisible">Çıkış Yap</span>
        </button>
      </a>
    </li>
  </ul>
</div>
