<bedavayemek-sidebar class=" top-0 left-0 w-64 h-screen font-comfortaa "></bedavayemek-sidebar>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>
<div class="md:ml-20 lg:ml-72 px-4 py-8 font-poppins flex flex-row justify-center">
  <div class="flex flex-col xl:flex-row xl:flex-wrap justify-center">
    <div class="w-full bg-white sm:w-[575px] border-solid rounded-[25px] flex flex-col mx-6 my-2 p-4"
      *ngFor="let post of posts">

      <img class="sm:max-w-[575px] sm:h-[400px] rounded-[25px]" [src]="post.image">

      <p class="text-[15px] px-1 py-6">{{post.description}}</p>

      <div class="flex flex-row justify-around items-center font-semibold text-[16px]">
        <div class="flex flex-row">
          <button class="flex items-center justify-center space-x-2 rounded-full bg-secondary h-[50px] w-[250px]">
            <span>YOL TARİFİ AL</span>
            <img src="../../../assets/send.png">
          </button>

        </div>
        <div class="flex flex-row">
          <p style="margin-bottom: 0;"> KALAN SÜRE:&nbsp;</p>
          <p style="margin-bottom: 0;" class="font-normal">28 DAKİKA</p>
        </div>

      </div>

      <hr class="mt-4">

      <div class="flex flex-row text-gray-400 justify-around font-semibold text-[20px] mt-5 mb-3">
        <div class="flex flex-row space-x-4">
          <img [src]="post.auth!.avatar" class="rounded-full max-w-20 h-20">
          <div class="flex flex-col justify-center space-y-2">
            <p style="margin-bottom: 0;" class="text-black">{{post.auth!.username}}</p>
            <p style="margin-bottom: 0;" class="text-[12px]">{{post.createdAt | date:'dd MMMM'}} {{post.createdAt | date:'HH.mm'}}</p>
          </div>
        </div>
        <div class="flex flex-row justify-between space-x-6 items-center text-[16px]">
          <button class="flex items-center space-x-2">
            <span>74</span>
            <img src="../../../assets/comment.png" class="w-[40px]">
          </button>
          <button class="flex items-center space-x-2">
            <span>12B</span>
            <img src="../../../assets/like.png" class="w-[40px]">
          </button>
        </div>
      </div>
    </div>


  </div>

</div>
