<bedavayemek-sideabar class="lg:visible invisible top-0 left-0 w-64 h-screen font-comfortaa "></bedavayemek-sideabar>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>
<div class="lg:ml-72 px-4 py-8 font-roboto flex flex-row justify-center font-prosans">

  <div class="flex flex-col">

    <div class="flex flex-row border rounded p-4">

      <div class="flex justify-center border rounded">
        <img class=" object-contain px-2 h-[600px] w-[600px]" [src]="post.image">

      </div>

      <mat-card class="h-[600px] w-[600px] flex justify-center" style="border:none; box-shadow:none;">
        <mat-card-header class="bg-white px-0 flex items-center">
          <div class="flex flex-row flex-1 items-center">
            <div mat-card-avatar class="rounded-full overflow-hidden mx-2 mt-3 "><img [src]="post.auth?.avatar"></div>

            <mat-card-title class="font-bold text-sm ">{{post.auth?.username}}
            </mat-card-title>

          </div>
          <div class="flex flex-col flex-1 text-right">
            <mat-card-subtitle class="text-sm">{{post.createdAt | date:'dd/MM/yyyy'}} {{post.createdAt |
              date:'HH.mm'}}</mat-card-subtitle>
            <div class="flex items-center justify-end">
              <ng-container *ngFor="let rating of [1, 2, 3, 4, 5]">
                <mat-icon [ngStyle]="{
                    'color': rating <= (post.rating ?? 0) ? '#FFD700' : '#808080',
                    'font-size': '20px'
                  }" title="{{post.rating}}/5">
                  star
                </mat-icon>
              </ng-container>
            </div>
          </div>
        </mat-card-header>

        <mat-card-content>

          {{ post.description }}

          <div class="flex justify-center mb-6 mt-6">
            <button mat-raised-button class="w-full" color="accent">
              <a href="{{post.location}}" class="text-xs font-semibold text-black w-full uppercase font-prosans">Yol
                Tarifi Al </a>
            </button>
          </div>

          <div class="flex flex-col text-right">
            <div class="text-xs font-semibold text-gray-500">Şu Tarihte Sona Eriyor:</div>
            <div class="text-xs font-semibold text-gray-500">{{post.expireDate | date:'dd/MM/yyyy'}} {{post.expireDate
              |
              date:'HH.mm'}}</div>
          </div>

          <div class="flex justify-center mb-6 mt-6">
            <button mat-raised-button class="w-full" color="white">
              <a href="#comments" class="font-semibold text-xs text-gray-500 w-full uppercase font-prosans">Yorumları
                Gör </a>
            </button>
          </div>


        </mat-card-content>

      </mat-card>

    </div>

    <div class="font-prosans my-6">
      <p class="text-xl font-semibold"> Paylaşım Değerlendirmeleri ({{reviews.length}})</p>
      <mat-card>

        <mat-card-content class="text-xs">

          <div>
            <div class="flex flex-col justify-center" *ngFor="let review of reviews let i = index"  >
              <ng-container *ngIf="i !== 0">
              <hr class="mb-2">
            </ng-container>
              <div class="flex flex-row">
                <ng-container *ngFor="let rating of [1, 2, 3, 4, 5]">
                  <mat-icon [ngStyle]="{
                      'color': rating <= (review.rating ?? 0) ? '#FFD700' : '#808080',
                      'font-size': '16px'
                    }" title="{{review.rating}}/5">
                    star
                  </mat-icon>
                </ng-container>
                <p>{{review.comment}}</p>
              </div>

              <div class="flex flex-row text-gray-500">
                <p>{{review.auth?.username}}</p>
                <span class="mx-4">|</span>
                <p>{{review.createdAt | date:'dd/MM/yyyy'}} {{review.createdAt | date:'HH.mm'}}</p>
              </div>
            </div>
          </div>

        </mat-card-content>
      </mat-card>



    </div>



  </div>

</div>
