<header class="bg-primary text-white shadow h-20 flex items-center justify-center">
  <nav class="mx-8 px-4 py-2 flex justify-between items-center lg:flex-1">
    <a routerLink="/" class="text-xl font-bold">BedavaYemek.com</a>

    <ul class="flex text-base invisible lg:visible">
      <li class="ml-6 flex items-center">
        <a href="">
          <button
            class="flex flex-row items-center text-base h-full transition duration-300 ease-in-out bg-neutral-50/[0.0] hover:bg-neutral-50/[0.2] hover:translate-x-1">
            <span class="mr-1 flex items-center">
              <i class="material-icons text-lg">home</i>
            </span>
            <span>Anasayfa</span>
          </button>
        </a>
      </li>
      <li class="ml-6">
        <a href="">
          <button
            class="flex flex-row items-center text-base h-full transition duration-300 ease-in-out bg-neutral-50/[0.0] hover:bg-neutral-50/[0.2] hover:translate-x-1">
            <span class="mr-1 flex items-center">
              <i class="material-icons text-lg">article</i>
            </span>
            <span>Hakkımızda</span>
          </button>
        </a>
      </li>
      <li class="ml-6">
        <a href="">
          <button
            class="flex flex-row items-center text-base h-full transition duration-300 ease-in-out bg-neutral-50/[0.0] hover:bg-neutral-50/[0.2] hover:translate-x-1">
            <span class="mr-1 flex items-center">
              <i class="material-icons text-lg">phone</i>
            </span>
            <span>İletişim</span>
          </button>
        </a>
      </li>
      <li class="ml-6">
        <a href="">
          <button
            class="flex flex-row items-center text-base h-full transition duration-300 ease-in-out bg-neutral-50/[0.0] hover:bg-neutral-50/[0.2] hover:translate-x-1" (click)="logout()">
            <span class="mr-1 flex items-center">
              <i class="material-icons text-lg">logout</i>
            </span>
            <span>Çıkış Yap</span>
          </button>
        </a>
      </li>
    </ul>
  </nav>
</header>
