<mat-toolbar class="bg-primary text-white lg:h-20 md:h-16">
  <div class="flex w-full items-center h-full md:hidden">
    <button
      class="flex flex-row items-center text-base px-4 h-full transition duration-300 ease-in-out bg-neutral-50/[0.0] hover:bg-neutral-50/[0.2]">
      <i class="material-icons text-2xl">menu</i>
    </button>

    <div class="flex-1"></div>

    <a href="/" class="flex items-center px-4">
      <button>
        <span>BedavaYemek.com</span>
      </button>
    </a>


  </div>

  <div class="flex w-full h-full lg:mx-20 md:mx-0 md:flex md:flex-row hidden md:block">


    <a href="/" class="flex items-center px-4">
      <button>
        <span>BedavaYemek.com</span>
      </button>
    </a>



    <div class="flex-1"></div>

    <button
      class="flex flex-row items-center text-base px-5 h-full transition duration-300 ease-in-out bg-neutral-50/[0.0] hover:bg-neutral-50/[0.2] hover:translate-x-1">
      <span class="mr-1 flex items-center">
        <i class="material-icons text-lg">phone</i>
      </span>
      <span>İletişim</span>
    </button>

    <button
      class="flex flex-row items-center text-base px-5 h-full transition duration-300 ease-in-out bg-neutral-50/[0.0] hover:bg-neutral-50/[0.2] hover:translate-x-1">
      <span class="mr-1 flex items-center">
        <i class="material-icons text-lg">article</i>
      </span>
      <span>Hakkımızda</span>
    </button>

    <a href="/login">
      <button
        class="flex flex-row items-center text-base px-5 h-full transition duration-300 ease-in-out bg-neutral-50/[0.0] hover:bg-neutral-50/[0.2] hover:translate-x-1">
        <span class="mr-1 flex items-center h-full">
          <i class="material-icons text-lg">login</i>
        </span>
        <span HRE>Giriş Yap</span>
      </button>
    </a>

  </div>
</mat-toolbar>
