<bedavayemek-sidebar class="top-0 left-0 w-64 h-screen font-comfortaa "></bedavayemek-sidebar>

<mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>
<div class="md:ml-20 lg:ml-72 px-4 py-8 font-roboto flex justify-center">


  <div class="flex flex-col justify-center items-center">
    <img *ngIf="dataURI" [src]="dataURI" alt="Resim" class="w-[425px] h-[325px] rounded-[25px]">
    <div class="flex justify-center items-center w-[300px] h-[100px] object-contain">
      <label for="image" class="py-2 px-4 bg-gray-500 hover:bg-gray-600 text-white rounded-lg cursor-pointer">
        Resim Seçin
      </label>
      <input type="file" class="hidden" id="image" (change)="onFileSelected($event)">
    </div>
  </div>

</div>
